
<footer class="navbar-fixed-bottom">
  <hr />
  <div class="copyright">&copy; Navleen Kaur Gill - 2017</div>

  <!-- Adding logos for github and linkedin -->
  <div class="social-links">
    <a href="https://github.com/NavleenGill"><img src="/images/github-logo.png" style="height: 40px; width: 40px;"></a>
    <a href="https://www.linkedin.com/in/navleen-gill-6ab808123/"><img src="/images/linkedin-logo.png" style="height: 40px; width: 40px;"></a>
  </div>
</footer>

<!-- js -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>