<!DOCTYPE html>
<html lang="en">
<head>
 
  <title></title>
</head>
<body>
<nav>
  <ul>
    <a href="/index">Home      </a><a href="about">About Me    </a>
    <a href="projects">Projects     </a><a href="contact">Contact Me    </a>
  </ul>
</nav>