<% include ./partials/header.ejs%>
<h1>About Me</h1>
<p> I am a second year international student in the Computer Programming course (Co-op) at Georgian College.
I was born and brought up in India and moved to Canada to pusue my studies in the IT field as I felt that there was more
scope here. I have always had a keen interest in programming and I have been doing it since I was in grade nine.
I wish to become either a Java Progarmmer or a Database Administrator in future.</p>
<% include ./partials/footer.ejs%>