<% include ./partials/header.ejs%>
<h1>About Me</h1>
<br>
<!-- My introduction -->
<p class="introduction"> I am a second year student in the Computer Programming course in Georgian College. I was born and brought up
    up in India and moved to Canada to pursue my studies in the IT field. I have always had an interest in computers and therefore,
    decided to choose this field as a career. I wish to become either a successful Database Administrator
    or a Java Programmer in future because this is what I enjoy doing the most. I will continue doing programming as
    long as I enjoy it. I strongly believe that 'Hard work is the key to success'. </p>
<% include ./partials/footer.ejs%>