<!--
File name: contact.ejs
Author's name: Navleen Kaur Gill
Website name: My Portfolio
File Description: This file has code for the contact page, containing the contact form
-->
<% include ./partials/header.ejs%>

<form>
    <fieldset>
        <legend>Contact Me</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Enter full name" />
        </div>
        <div class="form-group">
            <label for="email-address">Email address</label>
            <input type="email" class="form-control" placeholder="example@domain.com" />
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" rows="3" placeholder="Any questions or comments" ></textarea>
        </div>
    </fieldset>
<!-- On clicking the submit button, user is directed to the home page -->
    <a href="/"><button type="button" class="btn btn-primary">Submit</button></a>
</form>

<% include ./partials/footer.ejs%>
