<% include ./partials/header.ejs%>
    <h1><%= title %></h1>

<div class="portfolio-pic">
<img src="/images/PortfolioPic.JPG" style="width: 304px; height: 228px;">
</div>
<div class="introduction">
<p>"Hi, my name is Navleen and I am a second year student in the Computer Programming course in Georgian College. I was born and brought up
    up in India and moved to Canada to pursue my studies in the IT field. I have always had an interest in computers and therefore,
    decided to choose this field as a career. I wish to become a successful Database Administrator in future because this is what I
    enjoy doing the most."</p>
</div>
<% include ./partials/footer.ejs%>
