<% include ./partials/header.ejs%>
    <h1><%= title %></h1>


<div class="portfolio-pic">
    <!-- Inserting image -->
<img src="/images/PortfolioPic.JPG" style="width: 304px; height: 350px;">
</div>
<div class="introduction">
<p style="text-align: center">  A meticulous and hardworking programmer, aiming to make a difference in the IT industry.</p>
    <img class="images" src="/images/java.jpg">
    <img class="images" src="/images/database-administration.jpg" >
    <img class="images" src="/images/IT-support.jpg">
</div>
<% include ./partials/footer.ejs%>
