<% include ./partials/header.ejs%>
<h1>My Projects</h1>
<div class="project-links">
    <p class="introduction">Auto Form built with C-Sharp</p>
    <a href="https://github.com/NavleenGill/Assignment-2"><img src="/images/project-1.png" class="images"></a>
    <p class="introduction">Horse Race programmed in Java</p>
    <a href="https://github.com/NavleenGill/Horse-Race"><img src="/images/horse-race.jpg" class="images"></a>
</div>

<% include ./partials/footer.ejs%>