<% include ./partials/header.ejs%>
<h1>My Projects</h1>
<div class="project-links">
    <p style="font-size: 20px">Auto Form built with C-Sharp</p>
    <a href="https://github.com/NavleenGill/Assignment-2"><img src="/images/project-1.png" style="width: 350px; height: 350px;"></a>

    <p style="font-size: 20px;">Horse Race programmed in Java</p>
    <a href="https://github.com/NavleenGill/Horse-Race"><img src="/images/horse-race.jpg" style="width: 350px; height: 350px;"></a>
</div>

<% include ./partials/footer.ejs%>