<% include ./partials/header.ejs%>
<h1>My Skills</h1>
<!-- Adding images for skills -->
<div>
  <img class="images" src="/images/java2.jpg">
  <img class="images" src="/images/mysql.png">
  <img class="images" src="/images/HTML-CSS3.jpg">
  <img class="images" src="/images/php.png">
  <img class="images" src="/images/project-management.jpg">

</div>
<% include ./partials/footer.ejs%>