body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.introduction {
  font-size: 20px;
}

.portfolio-pic {
   float: left;
   margin: 0 0 10px 10px;
  border: 3px solid #000000;
 }

.social-links {
  text-align: center;
  margin: 0px 10px 10px 10px;
}

.copyright {
  text-align: center;
}

