body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.introduction {
  font-size: 20px;
}
/* defining height and width for the images */
.images {
    height: 228px;
    width: 304px;
    padding-left: 50px;
}

.portfolio-pic {
   float: left;
   margin: 0 0 10px 10px;
  border: 3px solid #000000;
 }

/* styling of the github and linkedin logos*/
.social-links {
  text-align: center;
  margin: 0px 10px 10px 10px;
}

.copyright {
  text-align: center;
}

/* form styling*/
.form-group {
    padding: 0px;
    margin-right: 800px;
}


